{% if page.url == "/partners" %}
<h2>Platinum partners</h2>
<!-- partners page: with text -->
<table>
	<tr>
		<td class="sponsor-platinum"><a href="https://www.ae.be/"><img src="/assets/media/sponsors/logo-ae.jpg" class="sponsor-platinum" /></a></td>
		<td>
			<p><a href="https://www.ae.be">AE</a> helps companies get fit for their digital future. Co-creation is the core of our approach. We'll work together with you and your customers to help you get you where you need to be on a business, organisational and technological level.</p>

			<p>With over 20 years of experience in business architecture, software engineering and change management we are a trusted partner in reshaping business critical solutions and services for over 150 customers. And counting.</p>
		</td>
	</tr>
	<tr>
		<td class="sponsor-platinum"><a href="https://www.axxes.com/"><img src="/assets/media/sponsors/logo-axxes.jpg" class="sponsor-platinum" /></a></td>
		<td>
			<p><a href="https://www.axxes.com/">Axxes</a> is a full-service IT consultancy. Our specialist IT consultants focus on delivering flexible and qualitative services in software development, quality assurance, infrastructure, devops, cloud solutions, architecture, project management services and more.</p>

			<p>Every day, our team of 400 experienced IT professionals make all the difference for our clients. We bring the right expertise to your project.</p>
		</td>
	</tr>
	<tr>
		<td class="sponsor-platinum"><a href="https://www.arxus.eu/"><img src="/assets/media/sponsors/logo-arxus.png" class="sponsor-platinum" /></a></td>
		<td>
			<p><a href="https://www.arxus.eu">Arxus</a> is a Managed Services Provider made up of 50+ cloud enthusiasts with unique cloud expertise and sector specific knowledge. We provide tailored Azure, Office 365 and Microsoft 365 solutions.</p>

			<p>We help customers face the complex challenge of modernising their infrastructure and create a truly future-proof organization. Thanks to our managed public and private cloud solutions they can explore new business opportunities while we make sure their IT environment is up-to-speed and ready to deliver.</p>

			<p>Our offering is focused around two solution groups: “productive workplace” and “scale with cloud innovation”. Productive Workplace is built on Microsoft 365 and includes a wide-variety of tools to bring everyone in an organisation together to achieve more.  With Scale with Cloud Innovation we offer Microsoft Azure’s public cloud solutions, private cloud setups and a combination of both and the existing on-premise.</p>

			<p>Our biggest added value is in managed services. We offer these on our private cloud, and now we do on Azure as well. We completely rebuilt these from the ground up, to fit the opportunities the Azure cloud offers in terms of management, maintenance, monitoring, security and automation. The result is Azure managed services: a futureproof managed service offering.</p>

			<p>We position Arxus as a strategic partner for businesses, with a mission to improve productivity, efficiency and innovation. By managing applications and empowering employees with a modern, cloud-based workplace, we relieve companies of their IT burdens so they can focus on growing their core business.</p>
		</td>
	</tr>
	<tr>
		<td class="sponsor-platinum"><a href="https://www.codit.eu/"><img src="/assets/media/sponsors/logo-codit.png" class="sponsor-platinum" /></a></td>
		<td>
			<p><a href="https://www.codit.eu/">Codit</a> is an innovative IT company which provides next-level consultancy, technology, and managed services to leading brands worldwide. We successfully help companies reduce operational costs, improve efficiency and enhance communication by integrating people, applications, and things, using a wide range of Microsoft technologies.</p>
		</td>
	</tr>
	<tr>
		<td class="sponsor-platinum"><a href="https://www.delaware.pro/"><img src="/assets/media/sponsors/logo-delaware.png" class="sponsor-platinum" /></a></td>
		<td>
			<p>We are a global company that delivers advanced ICT solutions and services, guiding our customers through their business and digital transformations. We provide them with the tools to achieve their mission-critical priorities.</p>
			<p>We develop, innovate and implement international business consulting, effective strategies and change management solutions. In addition to our partnerships with SAP, Microsoft, Salesforce and OpenText, we rely on a select group of technology partners to support our customers in creating a truly omnichannel customer experience.</p>
			<p>Above all, we want to do the right thing. We deliver enterprise expertise that enables our customers’ businesses to reach their full potential, while creating a positive impact in a challenging world. We take responsibility for our relationship with the social and ecological environment.</p>
			<p>We make it happen. You can rely on us.</p>
			<p>we commit. we deliver.</p>
		</td>
	</tr>
	<tr>
		<td class="sponsor-platinum"><a href="https://www.devoteam.be/"><img src="/assets/media/sponsors/logo-devoteam.png" class="sponsor-platinum" /></a></td>
		<td>
			<p>At Devoteam, we are Digital Transformakers.</p>
			<p><a href="https://www.devoteam.be/">Devoteam</a> M Cloud is a globally managed Microsoft partner and Azure is central to our cloud-native strategy.</p>
			<p>We have the bold ambition to become Microsoft’s leading partner in the areas of Azure, Cybersecurity and OpenAI together with more than 1,200 passionate experts in 18 countries.</p>
			<p>Currently, we have all 6 Partner Solution Designations and 16 Specializations across EMEA including the unique Azure Expert MSP label, which makes us one of the top 3 partners in terms of recognition from Microsoft, topped with more than 2000 expert certifications.</p>
			<p>With our award-winning Cloud Enabler framework, we offer a uniquely structured and agile approach to cloud transformation resulting in a 3x faster delivery.</p>
		</td>
	</tr>
	<tr>
		<td class="sponsor-platinum"><a href="https://www.dexmach.com/"><img src="/assets/media/sponsors/dexmach-logo.png" class="sponsor-platinum" vspace="10" /></a></td>
		<td>At <a href="https://www.dexmach.com/">DexMach</a>, we simplify and automate your it environment in the cloud, so that you can create awesome products and services.</td>
	</tr>
	<tr>
		<td class="sponsor-platinum"><a href="https://www.microsoft.be/"><img src="/assets/media/sponsors/logo-microsoft.jpg" class="sponsor-platinum" /></a></td>
		<td>
			<p><a href="https://www.microsoft.be">Microsoft</a> enables digital transformation for the era of an intelligent cloud and an intelligent edge. Its mission is to empower every person and every organization on the planet to achieve more.</p>
		</td>
	</tr>
	<tr>
		<td><a href="https://www.ordina.be"><img src="/assets/media/sponsors/logo-ordina.png" class="sponsor-platinum" /></a></td>
		<td>
			<p>Technological developments such as cloud services, the Internet of Things, digital platforms, data analytics and virtual reality are radically changing the world we live and work in. The tempo is high. Anything devised today has an impact tomorrow.</p>

			<p>From our perspective, IT is the key to solving new, crucial challenges facing companies and organisations. Digitisation enables organisations to perform better and remain relevant.
				IT has become core business and the driving force behind innovation. What’s more, it determines the ability of companies to distinguish themselves from competitors. At the same time, IT provides solutions to major social issues, such as a more efficient public sector, affordable healthcare and a cleaner environment.
				If IT wants to play this deciding role, people have to be able to rely on solutions that are effective and sustainable. Only then can IT help people keep up with an ever-faster-changing world successfully and does it create long-term value.</p>

			<p>At <a href="https://www.ordina.be">Ordina</a>, we help our customers stay ahead of change so that they can meet the challenges the future will bring head-on.</p>
		</td>
	</tr>
	<tr>
		<td class="sponsor-platinum"><a href="https://www.realdolmen.com/"><img src="/assets/media/sponsors/logo-realdolmen.jpg" class="sponsor-platinum" /></a></td>
		<td>
			<p><a href="https://www.realdolmen.com/">Inetum</a> helps its more than 800 customers find their way in the post-digital transformation era with approximately 1,950 specialist employees in Belgium and 27,000 colleagues worldwide. Our ambition is to be the trusted technology expert and preferred business partner that helps organizations get the most out of their Positive Digital Flow. We guide our customers worldwide and locally, with digital technology and innovation at the heart of our added value.</p>
		</td>
	</tr>
	<tr>
		<td class="sponsor-platinum"><a href="https://www.proximus.be"><img src="/assets/media/sponsors/logo-proximus.png" class="sponsor-platinum" /></a></td>
		<td>
			<p>Your organization wants to remain competitive and be able to adapt quickly to change? A flexible, scalable and secure IT infrastructure is crucial for this. Through partnerships with cloud market leaders, we offer modern hybrid cloud solutions.</p>

			<p>Because helping businesses with their cloud environment, from strategy to implementation and management. That is also <a href="https://www.proximus.be">Proximus</a>.</p>
		</td>
	</tr>
	<tr>
		<td><a href="https://www.soprasteria.be"><img src="/assets/media/sponsors/logo-soprasteria.png" class="sponsor-platinum" /></a></td>
		<td>
			<p>Technological developments such as cloud services, the Internet of Things, digital platforms, data analytics and virtual reality are radically changing the world we live and work in. The tempo is high. Anything devised today has an impact tomorrow.</p>

			<p>From our perspective, IT is the key to solving new, crucial challenges facing companies and organisations. Digitisation enables organisations to perform better and remain relevant.
				IT has become core business and the driving force behind innovation. What’s more, it determines the ability of companies to distinguish themselves from competitors. At the same time, IT provides solutions to major social issues, such as a more efficient public sector, affordable healthcare and a cleaner environment.
				If IT wants to play this deciding role, people have to be able to rely on solutions that are effective and sustainable. Only then can IT help people keep up with an ever-faster-changing world successfully and does it create long-term value.</p>

			<p>At <a href="https://www.soprasteria.be">Sopra Steria</a>, we help our customers stay ahead of change so that they can meet the challenges the future will bring head-on.</p>
		</td>
	</tr>
	<tr>
		<td class="sponsor-platinum"><a href="https://www.zure.com/"><img src="/assets/media/sponsors/logo-zure.png" class="sponsor-platinum" /></a></td>
		<td>
			<p>We thrive on challenge. The harder the problem, the happier we are.</p>
			<p>We provide you peace of mind. The knowledge that there’s someone with drive and expertise solving your issue. Give us your trust, and we will give you our everything.</p>
			<p>Due to our focus on just Azure, we’re experienced with all aspects of the Azure platform – from adoption to efficient use, security, DevOps, and the building of cloud-native applications and solutions, ranging from mobile to data platforms and IoT solutions.</p>
		</td>
	</tr>
</table>

<h2>Gold partners</h2>
<!-- partners page: with text -->
<table>
	<tr>
		<td class="sponsor-gold"><a href="https://acagroup.be/"><img src="/assets/media/sponsors/logo-acagroup.png" class="sponsor-gold" vspace="10" /></a></td>
		<td><a href="https://acagroup.be/">ACA Group</a> navigates you to &amp; in the future!</td>
	</tr>
	<tr>
		<td class="sponsor-gold"><a href="https://integration.team/"><img src="/assets/media/sponsors/logo-integrationteam.png" class="sponsor-gold" vspace="10" /></a></td>
		<td>At <a href="https://integration.team/">Integration.team</a>, with maximum efficiency and visibility in mind, Integration.team connects your organisation's tools and devices across departments on-premise and in the cloud.</td>
	</tr>
	<tr>
		<td class="sponsor-gold"><a href="https://noest.be/"><img src="/assets/media/sponsors/logo-noest.png" class="sponsor-gold" vspace="10" /></a></td>
		<td>At <a href="https://noest.be/">NOEST</a>, Let's craft IT together!</td>
	</tr>
</table>
	
{% else %}
<h2>Platinum partners</h2>
<!-- note: 2 columns -->

<a href="https://www.ae.be/"><img src="/assets/media/sponsors/logo-ae.jpg" class="sponsor-platinum" vspace="20" /></a>&nbsp;
<a href="https://www.axxes.com/"><img src="/assets/media/sponsors/logo-axxes.jpg" class="sponsor-platinum" vspace="20" /></a><br/>

<a href="https://www.arxus.eu/"><img src="/assets/media/sponsors/logo-arxus.png" class="sponsor-platinum" vspace="20" /></a>&nbsp;
<a href="https://www.codit.eu/"><img src="/assets/media/sponsors/logo-codit.png" class="sponsor-platinum" vspace="20" /></a><br/>

<a href="https://www.delaware.pro/"><img src="/assets/media/sponsors/logo-delaware.png" class="sponsor-platinum" vspace="20" /></a>&nbsp;
<a href="https://www.devoteam.be/"><img src="/assets/media/sponsors/logo-devoteam.png" class="sponsor-platinum" vspace="20" /></a><br/>

<a href="https://www.dexmach.com/"><img src="/assets/media/sponsors/dexmach-logo.png" class="sponsor-platinum" vspace="20" /></a>&nbsp;
<a href="https://www.microsoft.be/"><img src="/assets/media/sponsors/logo-microsoft.jpg" class="sponsor-platinum" vspace="20" /></a><br/>

<a href="https://www.realdolmen.com/"><img src="/assets/media/sponsors/logo-realdolmen.jpg" class="sponsor-platinum" vspace="20" /></a>&nbsp;
<a href="https://www.proximus.be/"><img src="/assets/media/sponsors/logo-proximus.png" class="sponsor-platinum" vspace="20" /></a><br/>
<a href="https://www.ordina.be"><img src="/assets/media/sponsors/logo-ordina.png" class="sponsor-platinum" vspace="20" /></a>&nbsp;
<a href="https://www.realdolmen.com/"><img src="/assets/media/sponsors/logo-inetum.png" class="sponsor-platinum" vspace="20" /></a><br/>

<a href="https://www.soprasteria.be"><img src="/assets/media/sponsors/logo-soprasteria.png" class="sponsor-platinum" vspace="20" /></a>&nbsp;
<a href="https://www.zure.com/"><img src="/assets/media/sponsors/logo-zure.png" class="sponsor-platinum" vspace="20" /></a>

<h2>Gold partners</h2>
<!-- note: 3 columns -->

<a href="https://acagroup.be/"><img src="/assets/media/sponsors/logo-acagroup.png" class="sponsor-gold" vspace="20" /></a>&nbsp;
<a href="https://integration.team/"><img src="/assets/media/sponsors/logo-integrationteam.png" class="sponsor-gold" vspace="20" /></a><br/>

<a href="https://noest.be/"><img src="/assets/media/sponsors/logo-noest.png" class="sponsor-gold" vspace="20" /></a>

{% endif %}
		
<h2>Silver partners</h2>
<!-- note: 4 columns -->

<a href="https://www.dataroots.io/"><img src="/assets/media/sponsors/logo-dataroots.png" class="sponsor-silver" vspace="20" /></a>&nbsp;
<a href="https://www.jetbrains.com/"><img src="/assets/media/sponsors/logo-jetbrains.jpg" class="sponsor-silver" vspace="20" /></a>&nbsp;
<a href="https://www.u2u.be/"><img src="/assets/media/sponsors/logo-u2u.png" class="sponsor-silver" vspace="20" /></a>