{% if page.url == "/partners" %}
<h2>Platinum partners</h2>
<!-- partners page: with text -->
<table>
	<tr>
		<td class="sponsor-platinum"><a href="https://www.ae.be"><img src="/assets/media/sponsors/logo-ae.jpg" class="sponsor-platinum" /></a></td>
		<td>
			<p><a href="https://www.ae.be">AE</a> helps companies get fit for their digital future. Co-creation is the core of our approach. We'll work together with you and your customers to help you get you where you need to be on a business, organisational and technological level.</p>

			<p>With over 20 years of experience in business architecture, software engineering and change management we are a trusted partner in reshaping business critical solutions and services for over 150 customers. And counting.</p>
		</td>
	</tr>
	<!--<tr>
		<td class="sponsor-platinum"><a href="https://www.arxus.eu"><img src="/assets/media/sponsors/logo-arxus.png" class="sponsor-platinum" /></a></td>
		<td>
			<p><a href="https://www.arxus.eu">Arxus</a> is a Managed Services Provider made up of 50+ cloud enthusiasts with unique cloud expertise and sector specific knowledge. We provide tailored Azure, Office 365 and Microsoft 365 solutions.</p>

			<p>We help customers face the complex challenge of modernising their infrastructure and create a truly future-proof organization. Thanks to our managed public and private cloud solutions they can explore new business opportunities while we make sure their IT environment is up-to-speed and ready to deliver.</p>

			<p>Our offering is focused around two solution groups: “productive workplace” and “scale with cloud innovation”. Productive Workplace is built on Microsoft 365 and includes a wide-variety of tools to bring everyone in an organisation together to achieve more.  With Scale with Cloud Innovation we offer Microsoft Azure’s public cloud solutions, private cloud setups and a combination of both and the existing on-premise.</p>

			<p>Our biggest added value is in managed services. We offer these on our private cloud, and now we do on Azure as well. We completely rebuilt these from the ground up, to fit the opportunities the Azure cloud offers in terms of management, maintenance, monitoring, security and automation. The result is Azure managed services: a futureproof managed service offering.</p>

			<p>We position Arxus as a strategic partner for businesses, with a mission to improve productivity, efficiency and innovation. By managing applications and empowering employees with a modern, cloud-based workplace, we relieve companies of their IT burdens so they can focus on growing their core business.</p>
		</td>
	</tr>-->
	<!--<tr>
		<td class="sponsor-platinum"><a href="https://www.aspex.be"><img src="/assets/media/sponsors/logo-aspex.png" class="sponsor-platinum" /></a></td>
		<td>
			<p>With over 15 years of experience in application hosting, Antwerp-based <a href="https://www.aspex.be">ASPEX</a> has grown into the market leader in software-as-a-service (SaaS) and Microsoft Azure public cloud solutions in the Benelux.</p>

			<p>ASPEX first saw the light of day in 2002 in Antwerp, Belgium. In its early days, it operated as a business unit for cloud-based solutions within the IT department of HR services provider <a href="https://www.sdworx.be">SD Worx</a>. But the unit kept growing until it became a fully independent cloud provider in 2015. ASPEX can also proudly call itself a Microsoft Gold Partner.</p>

			<p>Thanks to its wide range of cloud services and solutions, ASPEX is a "360-degree" cloud partner for SMEs, ISVs and large-scale enterprises. Today, the company employs more than 24 cloud experts. In addition to its expertise in our Office365 and Microsoft Azure flagship solutions, the company also developed its own solutions, e.g. ASPEX Shared Infrastructure (ASI).</p>

			<p>Finally, as a reference in SaaS and Microsoft Azure solutions, ASPEX also offers various training courses and workshops on cloud computing, MS Azure, DevOps and more. Each instructor is an expert in their own right, daily supporting clients in their cloud ambitions.</p>
		</td>
	</tr>-->
	<!--<tr>
		<td class="sponsor-platinum"><a href="https://www.be.capgemini.com/"><img src="/assets/media/sponsors/logo-capgemini.jpg" class="sponsor-platinum" /></a></td>
		<td>
			<p>A global leader in consulting, technology services and digital transformation, <a href="https://www.be.capgemini.com/">Capgemini</a> is at the forefront of innovation to address the entire breadth of clients’ opportunities in the evolving world of cloud, digital and platforms.</p>
		</td>
	</tr>-->
	<!--<tr>
		<td class="sponsor-platinum"><a href="https://www.codit.eu"><img src="/assets/media/sponsors/logo-codit.png" class="sponsor-platinum" /></a></td>
		<td>
			<p><a href="https://www.codit.eu">Codit</a> is an innovative IT company which provides next-level consultancy, technology, and managed services to leading brands worldwide. We successfully help companies reduce operational costs, improve efficiency and enhance communication by integrating people, applications, and things, using a wide range of Microsoft technologies.</p>

			<p>Codit employs more than 180 people in Belgium, France, Portugal, Switzerland, United Kingdom, The Netherlands, and Malta. Since 2000, we have successfully implemented over 500 integration solutions worldwide.</p>
		</td>
	</tr>-->
	<!--<tr>
		<td class="sponsor-platinum"><a href="https://www.evri.be"><img src="/assets/media/sponsors/logo-evri.png" class="sponsor-platinum" /></a></td>
		<td>
			<p><a href="https://www.evri.be">eVri</a> is the result of a partnership between Shiftz and 2commit. While Shiftz specializes in the infrastructure of the modern workplace, 2commit focuses on the development of modern business applications. With eVri they join forces and help companies modernize their digital workplace: user-friendly, efficient and safe.</p>
		</td>
	</tr>-->
	<tr>
		<td class="sponsor-platinum"><a href="https://www.microsoft.be"><img src="/assets/media/sponsors/logo-microsoft.jpg" class="sponsor-platinum" /></a></td>
		<td>
			<p><a href="https://www.microsoft.be">Microsoft</a> enables digital transformation for the era of an intelligent cloud and an intelligent edge. Its mission is to empower every person and every organization on the planet to achieve more.</p>
		</td>
	</tr>
	<tr>
		<td class="sponsor-platinum"><a href="https://www.ordina.be"><img src="/assets/media/sponsors/logo-ordina.png" class="sponsor-platinum" /></a></td>
		<td>
			<p><a href="https://www.ordina.be">Ordina</a> is the largest, independent IT service provider in the Benelux. Our goal is to give customers in the financial services, public, industry and healthcare sectors a digital edge. We do this by devising, building and managing technological solutions. Ordina helps its customers stay ahead of the challenges and changes in their business.</p>
			
			<p>Ordina has been active as an IT service provider in the Benelux for over forty years. We follow the latest technological developments very closely and make them relevant by creating innovative business and IT solutions that add value for our customers.</p>
		</td>
	</tr>
	<!--<tr>
		<td class="sponsor-platinum"><a href="https://www.vanroey.be"><img src="/assets/media/sponsors/logo-vanroey.png" class="sponsor-platinum" /></a></td>
		<td>
			<p>Trust Digital, So You Can Create Wonderful Things</p>
 
			<p><a href="https://www.vanroey.be">VanRoey.be</a> provides IT-services for companies which believe they can have an impact on the market through digitalization and automation. All this in the most secure way possible, as data is considered a company's most valuable asset. To achieve this, VanRoey.be offers services and solutions with focus on Managed Services, Security, Modern Workplace &amp; Hybrid IT.</p>
 
			<p>Discover how we can accelerate your digital transformation!</p>
		</td>
	</tr>-->
	<tr>
		<td class="sponsor-platinum"><a href="https://www.zure.com"><img src="/assets/media/sponsors/logo-zure.png" class="sponsor-platinum" /></a></td>
		<td>
			<p>We thrive on challenge. The harder the problem, the happier we are.</p>
			<p>We provide you peace of mind. The knowledge that there’s someone with drive and expertise solving your issue. Give us your trust, and we will give you our everything.</p>
			<p>Due to our focus on just Azure, we’re experienced with all aspects of the Azure platform – from adoption to efficient use, security, DevOps, and the building of cloud-native applications and solutions, ranging from mobile to data platforms and IoT solutions.</p>
		</td>
	</tr>
</table>

<!--<h2>Gold partners</h2>-->
<!-- partners page: with text -->
<!--<table>-->
	<!--<tr>
		<td class="sponsor-gold"><a href="https://www.dexmach.com"><img src="/assets/media/sponsors/dexmach-logo.png" class="sponsor-gold" vspace="10" /></a></td>
		<td></td>
	</tr>-->
	<!--<tr>
		<td class="sponsor-gold"><a href="https://www.devoteam.be/"><img src="/assets/media/sponsors/logo-devoteam.png" class="sponsor-gold" vspace="10" /></a></td>
		<td>
			<p>At <a href="https://www.devoteam.be/">Devoteam</a>, we deliver innovative technology consulting for business.</p>
			<p>As a pure player of Digital Transformation for leading organisations across EMEA, our 7,200+ professionals are dedicated to ensuring our clients win their digital battles. With a unique transformation DNA, we connect business and technology.</p>
			<p>Present in 18 countries in Europe and the Middle East, and drawing on more than 20 years of experience, we shape Technology for People, so it creates value for our clients, for our partners and for our employees.</p>
			<p>Devoteam achieved revenues of €652.4 million in 2018.</p>
			<p>At Devoteam, we are Digital Transformakers.</p>
		</td>
	</tr>-->
	<!--<tr>
		<td class="sponsor-gold"><a href="https://integration.team/"><img src="/assets/media/sponsors/logo-integrationteam.png" class="sponsor-gold" vspace="10" /></a></td>
		<td></td>
	</tr>-->
	<!--<tr>
		<td class="sponsor-gold"><a href="https://www.axi.be/"><img src="/assets/media/sponsors/logo-axi.png" class="sponsor-gold" vspace="10" /></a></td>
		<td>
			<p><a href="https://www.axi.be">AXI</a>AXI is een allround IT partner die strategisch denkt en werkt, steeds gericht op het vinden van de meest optimale en duurzame oplossing die past bij uw unieke behoeften.</p>
			<p>Meebouwend aan uw succes. Toegewijd aan uw visie.</p>
			<p>Onderbouwd. Duurzaam. Dichtbij.</p>
		</td>
	</tr>-->
<!--</table>-->
	
{% else %}
<h2>Platinum partners</h2>
<!-- note: 2 columns -->

<a href="https://www.ae.be"><img src="/assets/media/sponsors/logo-ae.jpg" class="sponsor-platinum" vspace="10" /></a>&nbsp;
<a href="https://www.microsoft.be"><img src="/assets/media/sponsors/logo-microsoft.jpg" class="sponsor-platinum" vspace="10" /></a>
<br />
<a href="https://www.ordina.be"><img src="/assets/media/sponsors/logo-ordina.png" class="sponsor-platinum" vspace="10" /></a>&nbsp;
<a href="https://www.zure.com"><img src="/assets/media/sponsors/logo-zure.png" class="sponsor-platinum" vspace="10" /></a>

<!--<a href="https://www.ae.be"><img src="/assets/media/sponsors/logo-ae.jpg" class="sponsor-platinum" vspace="10" /></a>&nbsp;
<a href="https://www.arxus.eu"><img src="/assets/media/sponsors/logo-arxus.png" class="sponsor-platinum" vspace="10" /></a>
<br />
<a href="https://www.aspex.be"><img src="/assets/media/sponsors/logo-aspex.png" class="sponsor-platinum" vspace="10" /></a>&nbsp;
<a href="https://www.be.capgemini.com/"><img src="/assets/media/sponsors/logo-capgemini.jpg" class="sponsor-platinum" vspace="10" /></a>
<br />
<a href="https://www.codit.eu"><img src="/assets/media/sponsors/logo-codit.png" class="sponsor-platinum" vspace="10" /></a>&nbsp;
<a href="https://www.evri.be"><img src="/assets/media/sponsors/logo-evri.png" class="sponsor-platinum" vspace="10" /></a>
<br />
<a href="https://www.microsoft.be"><img src="/assets/media/sponsors/logo-microsoft.jpg" class="sponsor-platinum" vspace="10" /></a>&nbsp;
<a href="https://www.ordina.be"><img src="/assets/media/sponsors/logo-ordina.png" class="sponsor-platinum" vspace="10" /></a>
<br />
<a href="https://www.vanroey.be"><img src="/assets/media/sponsors/logo-vanroey.png" class="sponsor-platinum" vspace="10" /></a>&nbsp;
<a href="https://www.zure.com"><img src="/assets/media/sponsors/logo-zure.png" class="sponsor-platinum" vspace="10" /></a>-->


<!-- <h2>Gold partners</h2>-->
<!-- note: 3 columns -->

<!-- 
<a href="https://www.dexmach.com"><img src="/assets/media/sponsors/dexmach-logo.png" class="sponsor-gold" vspace="10" /></a>&nbsp;
<a href="https://www.devoteam.be/"><img src="/assets/media/sponsors/logo-devoteam.png" class="sponsor-gold" vspace="10" /></a>
<br />
<a href="https://integration.team/"><img src="/assets/media/sponsors/logo-integrationteam.png" class="sponsor-gold" vspace="10" /></a>&nbsp;
<a href="https://www.axi.be"><img src="/assets/media/sponsors/logo-axi.png" class="sponsor-gold" vspace="10" /></a>
-->

{% endif %}
		
<h2>Silver partners</h2>
<!-- note: 4 columns -->

<a href="https://www.be.capgemini.com/"><img src="/assets/media/sponsors/logo-capgemini.jpg" class="sponsor-silver" vspace="10" /></a>&nbsp;
<a href="https://www.jetbrains.com"><img src="/assets/media/sponsors/logo-jetbrains.jpg" class="sponsor-silver" vspace="10" /></a>&nbsp;
<a href="https://www.xylos.be/"><img src="/assets/media/sponsors/logo-xylos.jpg" class="sponsor-silver" vspace="10" /></a>

<!--<a href="https://www.axxes.com/"><img src="/assets/media/sponsors/logo-axxes.jpg" class="sponsor-silver" vspace="10" /></a>&nbsp;
<a href="https://www.cheops.com/"><img src="/assets/media/sponsors/logo-cheops.jpg" class="sponsor-silver" vspace="10" /></a>&nbsp;
<a href="https://www.cronos.be/"><img src="/assets/media/sponsors/logo-cronos.jpg" class="sponsor-silver" vspace="10" /></a>&nbsp;
<a href="https://www.euri.com/"><img src="/assets/media/sponsors/logo-euricom.jpg" class="sponsor-silver" vspace="10" /></a>
<br />
<a href="https://www.hellocustomer.com/"><img src="/assets/media/sponsors/logo-hello-customer.jpg" class="sponsor-silver" vspace="10" /></a>&nbsp;
<a href="https://www.jetbrains.com"><img src="/assets/media/sponsors/logo-jetbrains.jpg" class="sponsor-silver" vspace="10" /></a>&nbsp;
<a href="https://www.inetum.world"><img src="/assets/media/sponsors/logo-realdolmen.jpg" class="sponsor-silver" vspace="10" /></a>&nbsp;
<a href="https://www.spikes.be/"><img src="/assets/media/sponsors/logo-spikes.png" class="sponsor-silver" vspace="10" /></a>
<br />
<a href="https://www.stylelabs.com/"><img src="/assets/media/sponsors/logo-stylelabs.jpg" class="sponsor-silver" vspace="10" /></a>&nbsp;
<a href="https://www.synergics.be/"><img src="/assets/media/sponsors/logo-synergics.jpg" class="sponsor-silver" vspace="10" /></a>&nbsp;
<a href="https://www.team4talent.be/"><img src="/assets/media/sponsors/logo-team4talent.png" class="sponsor-silver" vspace="10" /></a>&nbsp;
<a href="https://www.xylos.be/"><img src="/assets/media/sponsors/logo-xylos.jpg" class="sponsor-silver" vspace="10" /></a>-->
