<h2>Platinum partners</h2>
{% if page.url == "/partners" %}
<!-- partners page: with text -->
<table>
	<tr>
		<td><a href="https://www.ae.be"><img src="/assets/media/sponsors/logo-ae.jpg" class="sponsor-platinum" vspace="10" /></a></td>
		<td>
			<p><a href="https://www.ae.be">AE</a> helps companies get fit for their digital future. Co-creation is the core of our approach. We'll work together with you and your customers to help you get you where you need to be on a business, organisational and technological level.</p>

			<p>With over 20 years of experience in business architecture, software engineering and change management we are a trusted partner in reshaping business critical solutions and services for over 150 customers. And counting.</p>
		</td>
	</tr>
	<tr>
		<td><a href="https://www.arxus.eu"><img src="/assets/media/sponsors/logo-arxus.png" class="sponsor-platinum" vspace="10" /></a></td>
		<td>
			<p><a href="https://www.arxus.eu">Arxus</a> is a Managed Services Provider made up of 50+ cloud enthusiasts with unique cloud expertise and sector specific knowledge. We provide tailored Azure, Office 365 and Microsoft 365 solutions.</p>

			<p>We help customers face the complex challenge of modernising their infrastructure and create a truly future-proof organization. Thanks to our managed public and private cloud solutions they can explore new business opportunities while we make sure their IT environment is up-to-speed and ready to deliver.</p>

			<p>Our offering is focused around two solution groups: “productive workplace” and “scale with cloud innovation”. Productive Workplace is built on Microsoft 365 and includes a wide-variety of tools to bring everyone in an organisation together to achieve more.  With Scale with Cloud Innovation we offer Microsoft Azure’s public cloud solutions, private cloud setups and a combination of both and the existing on-premise.</p>

			<p>Our biggest added value is in managed services. We offer these on our private cloud, and now we do on Azure as well. We completely rebuilt these from the ground up, to fit the opportunities the Azure cloud offers in terms of management, maintenance, monitoring, security and automation. The result is Azure managed services: a futureproof managed service offering.</p>

			<p>We position Arxus as a strategic partner for businesses, with a mission to improve productivity, efficiency and innovation. By managing applications and empowering employees with a modern, cloud-based workplace, we relieve companies of their IT burdens so they can focus on growing their core business.</p>
		</td>
	</tr>
	<tr>
		<td><a href="https://www.codit.eu"><img src="/assets/media/sponsors/logo-codit.png" class="sponsor-platinum" vspace="10" /></a></td>
		<td>
			<p><a href="https://www.codit.eu">Codit</a> is an innovative IT company which provides next-level consultancy, technology, and managed services to leading brands worldwide. We successfully help companies reduce operational costs, improve efficiency and enhance communication by integrating people, applications, and things, using a wide range of Microsoft technologies.</p>

			<p>Codit employs more than 180 people in Belgium, France, Portugal, Switzerland, United Kingdom, The Netherlands, and Malta. Since 2000, we have successfully implemented over 500 integration solutions worldwide.</p>
		</td>
	</tr>
	<tr>
		<td><a href="https://www.microsoft.be"><img src="/assets/media/sponsors/logo-microsoft.jpg" class="sponsor-platinum" vspace="10" /></a></td>
		<td>
			<p><a href="https://www.microsoft.be">Microsoft</a> enables digital transformation for the era of an intelligent cloud and an intelligent edge. Its mission is to empower every person and every organization on the planet to achieve more.</p>
		</td>
	</tr>
</table>
	
{% else %}
<!-- note: 2 columns -->

<a href="https://www.ae.be"><img src="/assets/media/sponsors/logo-ae.jpg" class="sponsor-platinum" vspace="10" /></a>&nbsp;
<a href="https://www.arxus.eu"><img src="/assets/media/sponsors/logo-arxus.png" class="sponsor-platinum" vspace="10" /></a>
<br />
<a href="https://www.codit.eu"><img src="/assets/media/sponsors/logo-codit.png" class="sponsor-platinum" vspace="10" /></a>&nbsp;
<a href="https://www.microsoft.be"><img src="/assets/media/sponsors/logo-microsoft.jpg" class="sponsor-platinum" vspace="10" /></a>
{% endif %}

<h2>Gold partners</h2>
<!-- note: 3 columns -->
	
<a href="https://integration.team/"><img src="/assets/media/sponsors/logo-integrationteam.png" class="sponsor-gold" vspace="10" /></a>&nbsp;
<a href="https://www.loqutus.be"><img src="/assets/media/sponsors/logo-loqutus.jpg" class="sponsor-gold" vspace="10" /></a>
		
<h2>Silver partners</h2>
<!-- note: 4 columns -->

<a href="https://www.2commit.be/"><img src="/assets/media/sponsors/logo-2commit.png" class="sponsor-silver" vspace="10" /></a>&nbsp;
<a href="https://www.axxes.com"><img src="/assets/media/sponsors/logo-axxes.jpg" class="sponsor-silver" vspace="10" /></a>&nbsp;
<a href="https://www.be.capgemini.com/"><img src="/assets/media/sponsors/logo-capgemini.jpg" class="sponsor-silver" vspace="10" /></a>&nbsp;
<a href="https://www.cheops.com"><img src="/assets/media/sponsors/logo-cheops.jpg" class="sponsor-silver" vspace="10" /></a>
<br />
<a href="https://www.cronos.be"><img src="/assets/media/sponsors/logo-cronos.jpg" class="sponsor-silver" vspace="10" /></a>&nbsp;
<a href="http://www.emenka.be"><img src="/assets/media/sponsors/logo-emenka.png" class="sponsor-silver" vspace="10" /></a>&nbsp;
<a href="https://www.euri.com"><img src="/assets/media/sponsors/logo-euricom.jpg" class="sponsor-silver" vspace="10" /></a>&nbsp;
<a href="https://www.hellocustomer.com/"><img src="/assets/media/sponsors/logo-hello-customer.jpg" class="sponsor-silver" vspace="10" /></a>
<br />
<a href="https://www.dexmach.com"><img src="/assets/media/sponsors/dexmach-logo.png" class="sponsor-silver" vspace="10" /></a>&nbsp;
<a href="https://www.jetbrains.com"><img src="/assets/media/sponsors/logo-jetbrains.jpg" class="sponsor-silver" vspace="10" /></a>&nbsp;
<a href="https://www.realdolmen.com"><img src="/assets/media/sponsors/logo-realdolmen.jpg" class="sponsor-silver" vspace="10" /></a>&nbsp;
<a href="https://www.shiftz.be/"><img src="/assets/media/sponsors/logo-shiftz.png" class="sponsor-silver" vspace="10" /></a>
<br />
<a href="https://www.spikes.be/"><img src="/assets/media/sponsors/logo-spikes.png" class="sponsor-silver" vspace="10" /></a>&nbsp;
<a href="https://www.stylelabs.com/"><img src="/assets/media/sponsors/logo-stylelabs.jpg" class="sponsor-silver" vspace="10" /></a>&nbsp;
<a href="https://www.synergics.be"><img src="/assets/media/sponsors/logo-synergics.jpg" class="sponsor-silver" vspace="10" /></a>&nbsp;
<a href="https://www.tobania.be/"><img src="/assets/media/sponsors/logo-tobania.jpg" class="sponsor-silver" vspace="10" /></a>
<br />
<a href="https://www.xylos.be"><img src="/assets/media/sponsors/logo-xylos.jpg" class="sponsor-silver" vspace="10" /></a>&nbsp;