/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: relative;
  border-bottom: 1px solid $border-color;
  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  z-index: 20;

  &__inner-wrap {
    @include container;
    @include clearfix;
    padding: 1em 1em 1em;
    font-family: $sans-serif-narrow;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
	
	@media(min-width: 450px) {
		a.logo {
		  background-image: url(/assets/media/azug-logo.svg);
		  width: 240px;
		  height: 120px;
		  background-size: contain;
		  background-repeat: no-repeat;
		  background-position-y: center;
		  text-indent: -9999px;
		}
	}
	
	@media(max-width: 450px) {
		a.logo {
		  background-image: url(/assets/media/azug-logo.svg);
		  width: 120px;
		  height: 60px;
		  background-size: contain;
		  background-repeat: no-repeat;
		  background-position-y: center;
		  text-indent: -9999px;
		}
	}
  }
}

.masthead__menu {

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;

  &--lg {
    padding-right: 2em;
    font-weight: 700;
  }
}