/* ==========================================================================
   SPONSORLOGOS
   ========================================================================== */

$standard-width: 240px;
$standard-height: 120px;

$silver-factor: 0.45;
$gold-factor: 0.8;
$platinum-factor: 1;

$narrow-factor: 1;

.partners {
	text-align: center;

	img.sponsor-silver {
	  width: $standard-width * $silver-factor;
	  height: $standard-height * $silver-factor;
	}
	img.sponsor-gold {
	  width: $standard-width * $gold-factor;
	  height: $standard-height * $gold-factor;
	}
	img.sponsor-platinum {
	  width: $standard-width * $platinum-factor;
	  height: $standard-height * $platinum-factor;
	}
}

.partners-narrow {
	text-align: center;
	
	img.sponsor-silver {
	  width: $standard-width * $silver-factor * $narrow-factor;
	  height: $standard-height * $silver-factor * $narrow-factor;
	}
}

.partners table, .partners-narrow table {
	width: 100%;
	border: 0;
	
	tbody, td { border: 0; }
	tr { border-bottom: 1px solid #eee; }
	tr:last-child { border: 0; }
	
	td {
		text-align: left;
		vertical-align: top;
	}
	
	td:first-child {
		width: $standard-width * $platinum-factor;
	}
}